<h1>Home</h1>



<h1>All Posts</h1>
<ul>
    <% for post in @posts do%>
        <li class="well"><a href="<%=post.link%>"><%=post.title%></a>
        by
        <% if post.user %>
          <%=post.user.email%>
        <% else %>
          unknown
        <%end%>
        <a href="/posts/<%=post.id%>">view details</a>
        </li>
    <%end%>
</ul>




